/* @import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Doodle+Shadow&display=swap'); */
@import "tailwindcss"; 



body {
  background: linear-gradient( #ff850d, #ff850d);
  /* color: #163393; */

  
}


/* Laila */
@font-face {
  font-family: 'Laila';
  src: url('/fonts/Laila-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Laila';
  src: url('/fonts/Laila-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Poppins */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Rubik Doodle Shadow */
@font-face {
  font-family: 'Rubik Doodle Shadow';
  src: url('/fonts/RubikDoodleShadow-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}




.bungee-shade-regular {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}

.laila-regular {
  font-family: "Laila", serif;
  font-weight: 400;
  font-style: normal;
}
.laila-bold {
  font-family: "Laila", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}





@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* Marquee Container */
.marquee-container {
  width: 100%;
  overflow: hidden;
  /* position: relative; */
}

/* Marquee Content */
.marquee-content {
  display: flex;
  animation: marquee 50s linear infinite;


}

/* Image Styling */
.marquee-content img {
  flex-shrink: 0;
  width: auto;
  height: auto;
}


/* 
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #163393;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ddd;
} 

.poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}



 */













